*.so
*.o
*.pyc
*.png
*.pkl
save/*
*.out
*.txt
.vscode/
*.out
mprofile*
*.profile 
*.html
*.mprofile
*.pyc
*.ipynb
*.yaml
*.tar 
**/save*/
**.mprofile
**.json
../.vscode/
**.lprof
myprofile*
**.txt
**/99.*/
tags
**.vtk
**/1.*/
**/55.*/
